@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1747196475712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-send:before {
  content: "\e791";
  font-size: 25px;
}

