@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1747302234972') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-incline-arrow:before {
  content: "\e640";
  font-size: 30px;
}

