.headvideo {
    width: 100%;
    height:100vh;
    position: relative;
    overflow: hidden;
}
.headvideo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.videodec{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.content_link{
    display: flex;
    flex-direction: column;
    padding-right: 60px;
    padding-top: 80px;
}
.headcontent{
    font-weight: 250;
    color:rgba(245,245,245,0.9);
    font-size:5.5em;
    text-align: end;
}
.link{
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: flex-end;
}

.link a{
    text-decoration: none;
    color:rgba(60,60,60,0.9);
    font-size: 30px;
    text-align: end;
}
.link a:hover{
    color:rgba(255,255,255,1);

}

.linkbackground{
    background: rgba(255,255,255,0.7);
    padding:10px;
    border-radius:20px;
}
.linkbackground:hover{
    background: rgba(255,255,255,0.5);
}









