.why{
    height: 70vh;
    display: flex;
    margin-top: 10%;
    width:100vw;




}
.img{
    width: 50%;
    position: relative;
    overflow: hidden;
}
.img img{
    width: 92%;
    position:absolute;

}
.reason{
}
.reason p:nth-child(1){
    font-size: 3rem;
    padding-top:6%;
    padding-left:2%;
}
.reason p:nth-child(2){
    font-size: 1.5rem;
    padding:3%;
    width:80%;
}