@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1747140615963') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  font-size: 15px;
  display: none;
  content: "\e605";
  color:dimgrey;
  transition: transform 0.3s ease;
}
.iconfont::before :hover {

  display: flex;
}