@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1749728841002') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 35px;
  padding:5px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-language:before {
  content: "\e654";
}


.icon-register:before {
  content: "\e606";
}

.icon-guide:before {
  content: "\e502";
}

