.future_cooperation{
  margin-top:55%;
  margin-bottom: 45%;
}

.tail_title{
  display:flex;
  justify-content: center;
  align-items: center;
  color:rgba(60,60,60,0.5);
  font-size:40px;
}
.tail_title a{
  margin-left: 3%;
  text-decoration: none;
  color:rgba(60,60,60,0.5);
}
.tail_title a:hover{
  transform: scale(1.05);
  color:rgba(60,60,60,0.7);
}

.future_areas{
  font-size: 18px;
  color:rgba(60,60,60,0.89);
}
.future_title{
  font-size: 25px;
  margin-left:20% ;
  margin-right: 3%;
  color:rgba(60,60,60,0.7);

}