
.news_head{
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    background:white;
    padding-top: 0.5%;
}

.head{
    height:11vh;
    width: 100vw;
    color:black;
    display: flex;
    justify-content: space-between;
}
.logoname{
    width:15vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logoname img{
    width:90%;
    padding:1vw;
}
.otherbutton{
    width:17%;
    display: flex;
    gap:1.5%;
    justify-content: center;
    align-items: center;
}
.headicon{
    padding:3%;
}
.register{
    background: rgba(60,60,60,0.7);
    border-radius:12px;
}
.register:hover{
    background: rgba(60,60,60,0.5);
    cursor: pointer;
}
.sideicon:hover{
    cursor: pointer;

}















